<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>💳 Credit Card Fraud Detection</h1>

    <textarea id="inputData" placeholder="Enter transaction data (comma-separated)..."></textarea>

    <button onclick="predict()">Check Fraud</button>
<button onclick="testFraud()">Try Fraud Example</button>
    <div id="result"></div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>